@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --cor-de-destaque: #169ec4;
    --cor-de-letras: #21CCFA;
    --cor-de-destaque-inversa: #7A4D5C;
    --cor-de-letras-inversa: #FA2066;
    --cor-de-fundo: #ffffff;
    --cor-de-fundo-inverso: #000000;
    --cor-de-card: #ebebeb;
    --cor-de-card-inverso: #252525;
}

header{
    background-color: var(--cor-de-destaque);
    color: var(--cor-de-card);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

header > h1{
    font-size: 2.3em;
}


header > nav > ul{
    list-style: none;
    font-size: 1.3em;
    display: flex;
    margin: 18px; 
    gap: 5px;
}

header > nav > ul > li > a{
    padding: 5px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: background-color 0.7s ease;
}

header > nav > ul > li > a:hover{
    background-color: var(--cor-de-letras);
    cursor: pointer;
}

main{
    display: grid;
    grid-template-columns: auto 90vw auto;
}

#info{
    background-color: var(--cor-de-card);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    grid-column-start: 2;
    grid-column-end: 3;
    box-shadow: 3px 3px 3px rgba(37, 37, 37, 0.603);
}

#info > article > img{
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid var(--cor-de-card);
  outline: 3px solid var(--cor-de-destaque);
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

#info > article > h2{
    color: var(--cor-de-destaque);
}

#info > article > p{
    text-align: justify;
}

#redes-sociais{
    display: flex;
    flex-direction: row;
    justify-content: center ;
    font-size: 2.3em;
    gap: 10px;
    padding: 10px;
    list-style: none;
}

#redes-sociais > li > a > i{
    color: var(--cor-de-destaque);
}

#detalhes{
    grid-column-start: 2;
    grid-column-end: 3;
}

#Skills{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-de-card);
    color: var(--cor-de-destaque);
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(37, 37, 37, 0.603);
    margin: 10px;
    padding: 10px;
    gap: 10px;
}

.skill{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
}

.skill > p {
    color: var(--cor-de-fundo-inverso);
    font-weight: bold;

}

#barra{
    background-color: var(--cor-de-card-inverso);
    border-radius: 5px;
    width: 100%;
    height: 10px;
}

#progresso{
    background-color: var(--cor-de-destaque);
    border-radius: 5px;
    height: 10px;
}

#projetos{
    border-radius: 5px;
    background-color: var(--cor-de-card);
    box-shadow: 3px 3px 3px rgba(37, 37, 37, 0.603);
    gap: 10px;
    padding: 10px;
    margin: 10px;
}

#projetos > h2{
    color: var(--cor-de-destaque);
}


.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--cor-de-fundo);
    padding: 10px;
    margin: 10px;
    gap: 10px;
    border-radius: 5px;
    text-align: justify;
    border-left: 6px solid var(--cor-de-destaque);
    transition: border 0.7s ease;
}

.project:hover{
    border-left-width: 18px ;
    border-left-color: var(--cor-de-letras);
    cursor: pointer;
}

.project > img{
   width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 5px;
  overflow: hidden;
}

.data{
    font-weight: bold;
}


#formacoes{
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: var(--cor-de-card);
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(37, 37, 37, 0.603);
    padding: 10px;
    margin: 10px;
    gap: 10px;
}

#formacoes > h2{
    color: var(--cor-de-destaque);
}

.formacao{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-de-fundo);
    border-radius: 8px;
    border-left: 6px solid var(--cor-de-destaque);
    line-height: 1.5em;
    margin: 10px;
    padding: 10px;
    transition: border 0.5s ease;
}

.formacao:hover{
    cursor: pointer;
    border-left-width: 15px ;
    
}

abbr{
    text-decoration: none;
}

footer{
    background-color: var(--cor-de-card);
    padding: 10px;
    text-align: center;
}


footer > h4{
    color: var(--cor-de-destaque);
    margin: 2px;
}

footer > p{
    margin: 5px;
    font-weight: bold;
}

footer > p > a{
    text-decoration: none;
}

#dev{
    text-align: center;
}


#recado{
    font-size: 0.8em;
    font-weight: normal;
}


@media screen and (min-width:992px) {
    main{
        grid-template-columns: 300px 1fr 1fr auto ;
        grid-template-rows: 1fr 1fr 1fr;
    }

    #info{
        grid-column-start:1 ;
        grid-column-end:2 ;
        grid-row-start: 1;
        grid-row-end: 3;
        font-size: 1.2em;

    }

    #detalhes{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: -1;
    }

    .project{
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.2em;
        text-align: left;
    }

   .project > img{
        width: 40%;
        aspect-ratio: 16/9;
        object-fit: cover;
        border-radius: 5px;
        overflow: hidden;
        order: 2;
    }

    .data{
        align-self: flex-end;
    }
    
    .project > details{
        align-self: flex-end;
    }
}